{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'parts/navbarwithoutforms.html' %}
    {% else %}
        {% include 'parts/navbar.html' %}
    {% endif %}
{% endblock %}

{% block content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

<link rel="stylesheet" href="{% static 'css/items.css' %}">
<!-- Rest of your content here -->
{% endblock %}


