{% extends 'base.html' %}

{% load static %}

{% block content %}

<main class="signup-wrapper">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">

    <div class="signup-container">
        <h1>Welcome Back</h1>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                {{form.username}}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{form.password}}
            </div>
            <button type="submit" class="signup-btn">Login</button>
        </form>
        <div class="signup-footer">
            <p>Don't have an account? <a href="{% url 'signUP' %}">Create one here</a></p>
        </div>
    </div>
</main>
{% endblock %}
