{% extends 'base.html' %}
{% load static %}

{% block title %}Cart{% endblock %}

{% block navbar %}
    {% if user.is_authenticated %}
        {% include 'parts/navbarwithoutforms.html' %}
    {% else %}
        {% include 'parts/navbar.html' %}
    {% endif %}
{% endblock %}

{% block content %}
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<link rel="stylesheet" href="{% static 'css/inventory.css' %}">
    
            <!-- Available Items -->
            <div class="category-box">
                <h2>Items Available for Sale</h2>
                    {% if available_items %}
                        {% for item in available_items %}
                        <div class="item-card">
                            <div class="item-img">
                                <a>
                                    <img src="{{ item.image.url }}" alt="{{ item.name }}">
                                </a>
                            </div>
                            <div class="item-details">
                                <h3>{{ item.name }}</h3>
                                <p><strong>Quantity:</strong> {{ item.quantity }}</p>
                                <p><strong>Price:</strong> ${{ item.price }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No available items.</p>
                    {% endif %}
            </div>

            <!-- Purchased Items -->
            <div class="category-box">
                <h2>Purchased Items</h2>
                <div class="items">
                    {% if purchased_items %}
                        {% for item in purchased_items %}
                        <div class="item">
                            <h2>{{ item.name }}</h2>
                            <p class="price">${{ item.price }}</p>
                        </div>
                        {% endfor %}
                    {% else %}
                        <p>No purchased items.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}

