--
-- PostgreSQL database dump
--

-- Dumped from database version 9.6.10
-- Dumped by pg_dump version 9.6.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: plpgsql; Type: EXTENSION; Schema: -; Owner: 
--

CREATE EXTENSION IF NOT EXISTS plpgsql WITH SCHEMA pg_catalog;


--
-- Name: EXTENSION plpgsql; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION plpgsql IS 'PL/pgSQL procedural language';


SET default_tablespace = '';

SET default_with_oids = false;

--
-- Name: _auth_group; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._auth_group (
    id character varying(1) DEFAULT NULL::character varying,
    name character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._auth_group OWNER TO postgres;

--
-- Name: _auth_group_permissions; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._auth_group_permissions (
    id character varying(1) DEFAULT NULL::character varying,
    group_id character varying(1) DEFAULT NULL::character varying,
    permission_id character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._auth_group_permissions OWNER TO postgres;

--
-- Name: _auth_permission; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._auth_permission (
    id smallint,
    content_type_id smallint,
    codename character varying(21) DEFAULT NULL::character varying,
    name character varying(26) DEFAULT NULL::character varying
);


ALTER TABLE public._auth_permission OWNER TO postgres;

--
-- Name: _auth_user; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._auth_user (
    id character varying(1) DEFAULT NULL::character varying,
    password character varying(1) DEFAULT NULL::character varying,
    last_login character varying(1) DEFAULT NULL::character varying,
    is_superuser character varying(1) DEFAULT NULL::character varying,
    username character varying(1) DEFAULT NULL::character varying,
    last_name character varying(1) DEFAULT NULL::character varying,
    email character varying(1) DEFAULT NULL::character varying,
    is_staff character varying(1) DEFAULT NULL::character varying,
    is_active character varying(1) DEFAULT NULL::character varying,
    date_joined character varying(1) DEFAULT NULL::character varying,
    first_name character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._auth_user OWNER TO postgres;

--
-- Name: _auth_user_groups; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._auth_user_groups (
    id character varying(1) DEFAULT NULL::character varying,
    user_id character varying(1) DEFAULT NULL::character varying,
    group_id character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._auth_user_groups OWNER TO postgres;

--
-- Name: _auth_user_user_permissions; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._auth_user_user_permissions (
    id character varying(1) DEFAULT NULL::character varying,
    user_id character varying(1) DEFAULT NULL::character varying,
    permission_id character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._auth_user_user_permissions OWNER TO postgres;

--
-- Name: _authtoken_token; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._authtoken_token (
    key character varying(1) DEFAULT NULL::character varying,
    created character varying(1) DEFAULT NULL::character varying,
    user_id character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._authtoken_token OWNER TO postgres;

--
-- Name: _carts_order; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._carts_order (
    id character varying(1) DEFAULT NULL::character varying,
    quantity character varying(1) DEFAULT NULL::character varying,
    buyer_id character varying(1) DEFAULT NULL::character varying,
    product_id character varying(1) DEFAULT NULL::character varying,
    seller_id character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._carts_order OWNER TO postgres;

--
-- Name: _carts_payment; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._carts_payment (
    id character varying(1) DEFAULT NULL::character varying,
    payment_date character varying(1) DEFAULT NULL::character varying,
    buyer_id character varying(1) DEFAULT NULL::character varying,
    product_id character varying(1) DEFAULT NULL::character varying,
    quantity character varying(1) DEFAULT NULL::character varying,
    seller_id character varying(1) DEFAULT NULL::character varying,
    order_id character varying(1) DEFAULT NULL::character varying,
    total_price character varying(1) DEFAULT NULL::character varying,
    is_successful character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._carts_payment OWNER TO postgres;

--
-- Name: _core_contactmessage; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._core_contactmessage (
    id character varying(1) DEFAULT NULL::character varying,
    name character varying(1) DEFAULT NULL::character varying,
    email character varying(1) DEFAULT NULL::character varying,
    message character varying(1) DEFAULT NULL::character varying,
    created_at character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._core_contactmessage OWNER TO postgres;

--
-- Name: _core_review; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._core_review (
    id character varying(1) DEFAULT NULL::character varying,
    rating character varying(1) DEFAULT NULL::character varying,
    created_at character varying(1) DEFAULT NULL::character varying,
    updated_at character varying(1) DEFAULT NULL::character varying,
    product_id character varying(1) DEFAULT NULL::character varying,
    user_id character varying(1) DEFAULT NULL::character varying,
    transaction_id character varying(1) DEFAULT NULL::character varying,
    comment character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._core_review OWNER TO postgres;

--
-- Name: _core_userprofile; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._core_userprofile (
    id character varying(1) DEFAULT NULL::character varying,
    address character varying(1) DEFAULT NULL::character varying,
    bio character varying(1) DEFAULT NULL::character varying,
    created_at character varying(1) DEFAULT NULL::character varying,
    updated_at character varying(1) DEFAULT NULL::character varying,
    user_id character varying(1) DEFAULT NULL::character varying,
    phone character varying(1) DEFAULT NULL::character varying,
    age character varying(1) DEFAULT NULL::character varying,
    balance character varying(1) DEFAULT NULL::character varying,
    date_of_birth character varying(1) DEFAULT NULL::character varying,
    photo character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._core_userprofile OWNER TO postgres;

--
-- Name: _dashboard_transaction; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._dashboard_transaction (
    transaction_id character varying(1) DEFAULT NULL::character varying,
    total_price character varying(1) DEFAULT NULL::character varying,
    status character varying(1) DEFAULT NULL::character varying,
    date character varying(1) DEFAULT NULL::character varying,
    buyer_id character varying(1) DEFAULT NULL::character varying,
    product_id character varying(1) DEFAULT NULL::character varying,
    seller_id character varying(1) DEFAULT NULL::character varying,
    quantity character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._dashboard_transaction OWNER TO postgres;

--
-- Name: _deposit_deposit; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._deposit_deposit (
    id character varying(1) DEFAULT NULL::character varying,
    amount character varying(1) DEFAULT NULL::character varying,
    status character varying(1) DEFAULT NULL::character varying,
    transaction_id character varying(1) DEFAULT NULL::character varying,
    date character varying(1) DEFAULT NULL::character varying,
    user_id character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._deposit_deposit OWNER TO postgres;

--
-- Name: _django_admin_log; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._django_admin_log (
    id character varying(1) DEFAULT NULL::character varying,
    object_id character varying(1) DEFAULT NULL::character varying,
    object_repr character varying(1) DEFAULT NULL::character varying,
    action_flag character varying(1) DEFAULT NULL::character varying,
    change_message character varying(1) DEFAULT NULL::character varying,
    content_type_id character varying(1) DEFAULT NULL::character varying,
    user_id character varying(1) DEFAULT NULL::character varying,
    action_time character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._django_admin_log OWNER TO postgres;

--
-- Name: _django_content_type; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._django_content_type (
    id smallint,
    app_label character varying(12) DEFAULT NULL::character varying,
    model character varying(14) DEFAULT NULL::character varying
);


ALTER TABLE public._django_content_type OWNER TO postgres;

--
-- Name: _django_migrations; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._django_migrations (
    id smallint,
    app character varying(12) DEFAULT NULL::character varying,
    name character varying(61) DEFAULT NULL::character varying,
    applied character varying(10) DEFAULT NULL::character varying
);


ALTER TABLE public._django_migrations OWNER TO postgres;

--
-- Name: _django_session; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._django_session (
    session_key character varying(1) DEFAULT NULL::character varying,
    session_data character varying(1) DEFAULT NULL::character varying,
    expire_date character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._django_session OWNER TO postgres;

--
-- Name: _external_api_apiclient; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._external_api_apiclient (
    id character varying(1) DEFAULT NULL::character varying,
    name character varying(1) DEFAULT NULL::character varying,
    api_key character varying(1) DEFAULT NULL::character varying,
    is_active character varying(1) DEFAULT NULL::character varying,
    user_profile_id character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._external_api_apiclient OWNER TO postgres;

--
-- Name: _external_api_order; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._external_api_order (
    id character varying(1) DEFAULT NULL::character varying,
    created_at character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._external_api_order OWNER TO postgres;

--
-- Name: _external_api_orderitem; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._external_api_orderitem (
    id character varying(1) DEFAULT NULL::character varying,
    quantity character varying(1) DEFAULT NULL::character varying,
    item_id character varying(1) DEFAULT NULL::character varying,
    order_id character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._external_api_orderitem OWNER TO postgres;

--
-- Name: _items_category; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._items_category (
    id character varying(1) DEFAULT NULL::character varying,
    name character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._items_category OWNER TO postgres;

--
-- Name: _items_items; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._items_items (
    id character varying(1) DEFAULT NULL::character varying,
    name character varying(1) DEFAULT NULL::character varying,
    price character varying(1) DEFAULT NULL::character varying,
    description character varying(1) DEFAULT NULL::character varying,
    image character varying(1) DEFAULT NULL::character varying,
    created_at character varying(1) DEFAULT NULL::character varying,
    category_id character varying(1) DEFAULT NULL::character varying,
    quantity character varying(1) DEFAULT NULL::character varying,
    "Available_Stock" character varying(1) DEFAULT NULL::character varying,
    for_sale character varying(1) DEFAULT NULL::character varying,
    owned_by_id character varying(1) DEFAULT NULL::character varying,
    average_rating character varying(1) DEFAULT NULL::character varying,
    advertise character varying(1) DEFAULT NULL::character varying,
    quantity_advertise character varying(1) DEFAULT NULL::character varying
);


ALTER TABLE public._items_items OWNER TO postgres;

--
-- Name: _sqlite_sequence; Type: TABLE; Schema: public; Owner: rebasedata
--

CREATE TABLE public._sqlite_sequence (
    name character varying(22) DEFAULT NULL::character varying,
    seq smallint
);


ALTER TABLE public._sqlite_sequence OWNER TO postgres;

--
-- Data for Name: _auth_group; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _auth_permission; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _auth_user; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _auth_user_groups; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _authtoken_token; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _carts_order; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _carts_payment; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _core_contactmessage; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _core_review; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _core_userprofile; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _dashboard_transaction; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _deposit_deposit; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _django_admin_log; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _django_content_type; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _django_migrations; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _django_session; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _external_api_apiclient; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _external_api_order; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _external_api_orderitem; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _items_category; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _items_items; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- Data for Name: _sqlite_sequence; Type: TABLE DATA; Schema: public; Owner: rebasedata
--



--
-- PostgreSQL database dump complete
--


