.footer {
    background-color: #222;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.footer h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}

.footer h3 .brand-highlight {
    color: #00dfc4 !important; /* Cyan */
}

.footer p {
    margin: 5px 0;
    color: #ffffff;
    font-size: 14px;
}