{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Store</title>
    <link rel="stylesheet" href="{% static 'css/stylesheet1.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="/" class="logo" >Market<span>Store</span></a>
            <ul class="nav-links">
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/terms">Terms and Policy</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>

    <!-- <script>
        // mobile menu toggle
        const hamburger = document.querySelector('.hamburger');
        const navLinks = document.querySelector('.nav-links');

        hamburger.addEventListener('click', () => {
            navLinks.classList.toggle('active');
        });
    </script> -->
</body>
{% endblock content %}
